{% extends "eleccion/base.html" %}

    {% block content %}
    	<h1  class="page-header">Circunscripciones</h1>

        {% if perms.eleccion.change_circunscripcion %}
			<a href="{% url 'circunscripcion_crear_url' %}">Añadir Circunscripciones</a>
		{% endif %}


		<div class="row">
		{% if object_list %}
			{% for x in object_list %}
				<a href="{% url 'circunscripcion_detalle_url' x.id %}">
					<div class="col-md-2 cajaBlanca">
							<h4><strong>{{ x.nombre }}</strong></h4>
							<small>Escaños: </small> <strong>{{ x.nEscanos }}</strong>				
					</div>
					<a href="{% url 'circunscripcion_eliminar_url' x.id %}" class="btn btn-danger" role="button"><button type="button" class="btn btn-info">Eliminar</button></a>

				</a>
			{% endfor %}
		{% else %}
	    	<li>No hay circunscripciones aún.</li>
		{% endif %}

		</div>

    {% endblock %}